html {
  background-attachment: fixed;
  background-image: $body-background-image;
  background-repeat: no-repeat;
  overflow-x: hidden; // Weird Firefox issue
}

body {
  color: $body-color;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
