html {
  font-size: $font-size-default;
}

body {
  font-family: $font-family-sans-serif;
}

h1 {
  font-size: $font-size-display;

  @media screen and (max-width: $breakpoint) {
    font-size: $font-size-display-mobile;
  }
}

h2 {
  font-size: $font-size-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0;
}
